@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  --bg-primary: #d82028;
  --bg-secondary: #373656;
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Roboto", sans-serif;
  --font-family-tertiary: "Lato", sans-serif;

  --color-white: #fff;
  --first-color: #1a73e8;
  --input-color: #80868b;
  --border-color: #dadce0;
  --footer-bg-color: #880808;
  --body-font: "Roboto", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.connect-footer {
  width: 100%;
  height: 100px;
  background-color: var(--footer-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.connect-footer p {
  font-size: 16px;
  font-family: var(--font-family-primary);
  color: #fff;
}
.email-container {
  margin-left: 50px;
  padding: 5px;
}
.quotation-container {
  padding: 5px;
}
.socialmedia-icons-container {
  margin-right: 50px;
  padding: 5px;
}

@media all and (max-width: 850px) {
  .email-container {
    margin-left: 20px;
  }
  .socialmedia-icons-container {
    margin-right: 20px;
  }
}
@media all and (max-width: 680px) {
  .connect-footer {
    flex-direction: column;
    height: 220px;
    row-gap: 30px;
    padding: 20px;
  }
  .email-container {
    margin-right: 20px;
  }
  .socialmedia-icons-container {
    margin-left: 20px;
  }
}
@media all and (max-width: 330px) {
  .email-container,
  .socialmedia-icons-container {
    margin-inline: 10px;
  }
}
@media all and (max-width: 308px) {
  .email-container,
  .socialmedia-icons-container {
    margin-inline: 5px;
  }
}
@media all and (max-width: 297px) {
  .email-container,
  .socialmedia-icons-container {
    margin-inline: 1px;
  }
}
@media all and (max-width: 289px) {
  .email-container,
  .socialmedia-icons-container {
    margin-inline: 0.5px;
  }
  .connect-footer {
    height: 240px;
  }
}
